:host {
  display: block;
}

.desktop {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background-color: #245edc;
  background-image: url('/assets/windows-xp-wallpaper.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
